@image_src: "{{ img_src }}";

@font-face {
  font-family: 'Icons';
  src: url('/mellisuga_globals/icons/font.ttf') format('truetype');
}

.icon_font {
  font-family: Icons;
}


body {
//  background-image: url("@{image_src}");
//  background-color: white;


}


#loading_overlay {
  background-color: #fdfdfdee;
  position: fixed;
  z-index: 10;
  left: 0; right: 0;
  top: 0; bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes rotate360 {
  to { transform: rotate(360deg); }
}
#loading_overlay div {
  animation: 1s rotate360 infinite linear;
  font-size: 88px;
  color: #3a6180;
}
